<html>

<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>BK Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <style>
        .toppage{
    border-radius : 0px 0px 5px 5px;
    background-color: #7ff114;
    height:45px;

}
.toppage_title{
    padding-top: 1vh;
    color: aliceblue;
    font-size: medium;
}
.toppage_title:hover{
    color:#7dbaf3;
}
.logo{
    height: auto;
    box-shadow: 0px 1px 3px #259915 ;

}
.search{
    border-radius: 30px;
    border: 2px solid #23e60a;
    height:50px;
    margin-top: 30px;
    background-color: #ffffff;
}
.search_input{
    border:0px solid #ffffff;
    margin-top: 12px;
    font-size: 130%;
    width: 80%;
}
.button_input{
    float:right;
background-color: #ffffff;
border: 0px solid #ffffff;
font-size: 150%;
margin-top: 12px;
color: #23e60a;
}
.a{
    margin-top: 50px;
    font-size: 120%;
}
h2{
    margin: 40px 0px 40px 0px;
}
h3{
    margin-bottom: 19px;
    text-align: center;
    border-bottom:2px solid yellowgreen;
}
a{
   color: #43f12c;
   text-align: center;
}
ol{
    margin: 20px 0px 20px 0px;
    font-size: 130%;
}
h4{
    margin: 22px 0px 20px 0px;
}

#user{
    height: 850px;
    border-right: 2px solid greenyellow;
}
img{
    border: 2px solid greenyellow;
    border-radius:300px;
}
input{
    border: 2px solid greenyellow;
    border-radius: 10px;
}
input:hover{
background: #c5e79f44
}
form{
    margin-left: 10%
}
.boxa{
    border: 0px 0px 2px 0px greenyellow;
    box-shadow: 0px 1px 3px #259915 ;
}
.v{
    overflow: hidden;
}
.order{
    width: 160%;
    height:500px;
    overflow: auto;
}
        </style>

    <script>

        console.log(`<%- order %>`)
    </script>



    <div>
        <div class="toppage">
            <div class="col-xs-2"></div>
            <h6 class="toppage_title col-xs-6">Chao mung ban den voi chung toi</h6>
            <% if(!user){ %>
            <h6 class="toppage_title col-xs-2"> <a href="/login"> Dang nhap</a></h6>
            <h6 class="toppage_title col-xs-2"><a href="/singup"> Dang ky</a></h6>
            <% } else{ %>
            <h6 class="toppage_title col-xs-2"><a href="/user">Xin chao
                    <%- user.name %> </a></h6>
            <h6 class="toppage_title col-xs-2"><a href="/logout"> Dang xuat</a></h6>
            <% } %>

        </div>
        <!-- logo -->

        <div class="logo">
            <div class="container">
                <div class="col-xs-4">
                    <img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.0-9/14064080_1219397674759626_7148026115191155953_n.jpg?_nc_cat=109&_nc_ht=scontent.fhan2-3.fna&oh=ca32f16ced2e0f1e2af8ba61bb058d2e&oe=5C877768"
                        width:100px height="200px">
                </div>
                <div class="col-xs-1"></div>
                <div class="search col-xs-6 ">
                    <form action="/product/search" method="post">
                        <input type="text" class="search_input" name="search" placeholder="    Search any things..."
                            value="" required>
                        <button type="submit" class="button_input glyphicon glyphicon-search"></button>
                    </form>
                    <div>
                        <a href="/">
                            <h5 class="col-xs-3 a">Trang chu</h5>
                        </a>
                        <a href="/flashsale">
                            <h5 class="col-xs-3 a">Flash Sales</h5>
                        </a>
                        <a href="/voucher">
                            <h5 class="col-xs-3 a">Voucher</h5>
                        </a>
                        <a href="/bkmall">
                            <h5 class="col-xs-3 a">BK Store Mall</h5>
                        </a>
                    </div>

                </div>
            </div>

        </div>


    </div>

    <h2 style="text-align: center">Chao mung ban quay lai</h2>

    <div class="container">
        <div class=" col-xs-3">

            <div id="user">
                <h3>
                    <%- user.name %>
                </h3>
                <ol><a href="/profile"> Thong tin ca nhan</a></ol>
                <ol><a href="/user/notification">Thong bao cua toi</a></ol>
                <ol><a href="/user/like">San pham da thich</a></ol>
                <ol><a href="/user/update">Cap nhat thong tin</a></ol>
                <ol><a href="/user/account">Thong tin tai khoan</a></ol>
                <ol><a href="/user/resetpass">Dat lai mat khau</a></ol>
            </div>
        </div>
        <div class="col-xs-8">
            <h3>THONG TIN DON HANG CUA BAN</h3>
            <div class="col-xs-5"></div>
            <div>
                <img src=<%- user.avata %> height="150px" alt="">
                <br><br>

            </div>
            <%  if(!order){ %>
            <h4 style="margin-left: 35%">Ban chua co don hang nao.</h4>
            <% }else{ %>
            <h4 style="margin-left: 35%">
                <%- message %>
            </h4>
            <br>
            <div class="container">
                <h5 class="col-xs-2">Ma DH</h5>
                <h5 class="col-xs-1">Ten SP</h5>
                <h5 class="col-xs-1">State</h5>
                <h5 class="col-xs-3">Thoi gian tao</h5>
                <h5 class="col-xs-1">SL</h5>
                <h5 class="col-xs-1">Thanh tien</h5>
                <h5 class="col-xs-1">HUY DH</h5>
            </div>
            <div class="order">




                <% for( let i=0;i<order.length;i++) { %>
                <div class="container">
                    <h5 class="col-xs-2">
                        <%- order[i]._id %>
                    </h5>
                    <h5 class="col-xs-1">
                        <%- order[i].name_product %>
                    </h5>
                    <h5 class="col-xs-1">
                        <%- order[i].state %>
                    </h5>
                    <h5 class="col-xs-3">
                        <%- order[i].time %>
                    </h5>
                    <h5 class="col-xs-1">
                        <%- order[i].soluong %>
                    </h5>
                    <h5 class="col-xs-1">
                        <%- order[i].price %>
                    </h5>
                    <h5 class="col-xs-1">
                    <% if(order[i].cancel==1 && order[i].rate==0){ %>

                        <%if(order[i].state.length==8){%>
                          <h5><a href="/user/rateproduct/<%- order[i]._id%>">danh gia</a></h5>
                        <%}%>
                        <%}%>
                    <% if(order[i].cancel==1 && order[i].state.length==9){%>
                        <h5><a href="/user/order/cancel/<%-order[i]._id%>">Huy DH</a></h5>
                        <%}%>
                        <% if(order[i].cancel==2) {%>
                            <h5>Ban huy,KT</h5><%}%>
                    </h5>
                    <br><br>

                </div>
                  <% } %>

               <% } %>
            </div>
           <% if(order.length ==10){ %>
                <h4><a href="/user/order/<%- order[9]._id%>">Don tiep theo</a></h4>
       <%     } %>
            <h5 class="col-xs-4">Ban dang co
                <%-a1 %> don hang bi huy </h5>
            <h5 class="col-xs-4">Ban dang co
                <%-a2 %> don hang ket thuc</h5>
            <h5 class="col-xs-4">Ban dang co
                <%-a3 %> don hang cho xet duyet </h5>
            <h5 class="col-xs-4">Ban dang co
                <%-a4 %> dang chuan bi </h5>
            <h5 class="col-xs-4">Ban dang co
                <%-a5 %> dang giao hang </h5>

        </div>


    </div>
    <style>
        .button_page {
            background: #a1f750f3;
            height: 330px;
            margin-top: 30px;
        }

        .b {
            margin-top: 20px;

        }

        p {
            font-size: 130%;
        }
    </style>


    <div class="button_page">
        <div class="col-xs-1"></div>
        <div class="col-xs-3 b">
            <h4>Gioi thieu ve Bkstore</h4>
            <p>Day la du an duoc phat trien tren BTL mon Thiet ke va lap trinh web.Trang web mo phonng
                mot trang thuong mai dien tu voi cac chuc nang chinh va chua duoc hoan chinh, moi ddong gop va y kien
                de
                xay dung
                trang web tot hon, vui long gui vao email : <a href="">dunguyen20091998@gmail.com</a>
            </p>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1 b">
            <h4>Cac dich vu giao hang</h4>
            <img src="http://static.insidev2.ghn.vn/9d146c1c0cd90296cecc32948d24731ebca3b737/assets/images/GHN_Logo.png"
                alt="" height="60px"><br><br>
            <img src="http://thanhnien.vnpost.vn/static/img/vnpost.png" alt="" height="60px"><br><br><br>
            <img src="https://giaohangtietkiem.vn/wp-content/uploads/2015/10/logo.png" height="60px" alt="">
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1 b">
            <h4>Phuong thuc thanh toan</h4>
            <img src="https://i2.wp.com/scentfie.com/wp-content/uploads/2017/11/Cash-On-Delivery-Logo.jpg?resize=366%2C144"
                alt="" height="60px"><br><br>" <br><br>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1 b"><a href="">Bkstore.herokuapp.com</a></div>

    </div>

</body>

</html>
